@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

.header {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 20px 150px;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background: transparent;
    top: 0;
    left: 0;
}
  
.logo h1 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 500;
}
  
.navigation {
    display: flex;
    gap: 40px;
}
  
.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}


.header.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(najil-debug/bayline.github.io/assets/bg.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}


.banner h1 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #f7f7f7;
}

.banner span {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #b9f4ff;
}

.banner p {
    font-size: 19px;
    color: #d3d3d3;
}


.banner .buttons {
    display: flex;
    gap: 20px;

    a{
        color: #fff;
        background: #000;
        text-decoration: none;
        font-size: 21px;
        padding: 10px 20px;
        border-radius: 50px;
        box-shadow: 1px 1px 5px 1px #000;
        transition: 0.5s;
    }

    .odd {
        color: #000;
        background: #fff;
        box-shadow: 1px 1px 5px 1px #fff;
    }

    a:hover {
        box-shadow: 2px 2px 10px 2px #000;
    }

    .odd:hover {
        box-shadow: 2px 2px 10px 2px #fff;
    }

}

